
body {
    font-family: "Roboto";
    background-color: white;
    
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .image-section {
    flex: 1;
    padding: 20px;
  }
  
  .image-section img {
    width: 100%;
    max-width: 800px;
     }
  
  .text-section {
    flex: 1;
    padding: 50px;
   

    
  }
  
  .text-section h2 {
    margin-bottom: 50px;
  }
  
  .text-section p {
    margin-bottom: 50px;
  }
  
  #learnMoreBtn {
    background-color:  #0098DA;
    color:white;
    padding: 10px 20px;
    border: none;
    
  }

  #learnMoreBtn:hover {
    background-color: rgb(77, 124, 171);

}
  

  