
body {
  font-family: "Roboto";
 
  
}

.About{
  display: flex;
  justify-content:center;
  align-items: center;
 padding-top: 5%;
 padding-left: 5px;
 
}

.image {
  flex: 1;
  padding :20px;
  width: 100%;
  max-width: 800px;
}


.text {
  flex: 1;
  padding: 50px; 
}


#learnMoreBtn {
  background-color:  #0098DA;
  color:white;
  padding: 10px 20px;
  border: none;

 
  
}

#learnMoreBtn:hover {
  background-color: rgb(77, 124, 171);

}