body {
    font-family: ""Roboto"";
   
}

.container {
    width: 70%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);}
    
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.step {
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 15px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
select,
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

textarea {
    height: 100px;
}

input[type="file"] {
    margin-bottom: 15px;
}




#place-order-btn {
    padding: 10px 60px;
    background-color: #0098DA;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 200px;

}
#place-order-btn:hover{
    background-color:#0b4d69;
}

#submit-btn{

    padding: 10px 80px;
    background-color: #0098DA;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 400px;
}
#submit-btn:hover{

    background-color:#0b4d69;
}
#delete-order-btn {
    padding: 10px 20px;
    background-color: #ff4d4d; 
    color: white;
    border: none;
    border-radius: 4px;
   
    
}
#delete-order-btn:hover {
    background-color: #cc0000; 
}

#update-btn{

    padding: 10px 20px;
    background-color: #0098DA;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 750px;
}
#update-btn:hover{

    background-color:#0b4d69;
}

#calculated-amount {
    background-color: #a3abb672;
}
