*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.main_header 
{
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_header img 
{
    height: 50px;
}

.main_header nav ul 
{
    list-style: none;
    display: flex;
    gap: 15px;
}

.main_header nav ul li a 
{
    text-decoration: none;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    color: #333;
}

.main_header nav ul li a:hover
{
    color: #0098DA;
}

.main_header button 
{
    padding: 15px 20px;
    background-color: #0098DA;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.main_header button:hover 
{
    background-color: #0077B6;
}