.main-image-container{
  display: flex;
  justify-content: space-around;
}

.main-heading{
  color: #464646;
  font-size: 55px;
  font-weight: 500;
  z-index: 100;
  width: 800px;
  margin-top: 200px;
  margin-left: 70px;
}

.main-heading-button{
  padding: 20px 30px 20px 30px;
  margin-top: 40px;
  border-style: solid;
  border-radius: 5px;
  background-color: #fff ;
  color: #0098DA;
  border-color: #0098DA;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 70px;
}

.main-heading-button:hover{
background-color: #0098DA;
color: #fff;
}

.main-image{
  width: 100%;
  height: 700px;
  object-fit: contain;
  object-position: right;
}

.products-heading-container{
  display: flex;
  justify-content: center;
}

.product-heading{
  font-size: 50px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 25px;
  color: #464646;
}

.product-content-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 25px;
}

.products-container{
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: fit-content;
  padding: 15px;
  margin: 20px;
}

.product-image-container{
  margin-bottom: 12px;
  padding: 8px;
}

.item-image{
  width: 200px;
  height: 200px;
}

.item-details{
  display: flex;
  flex-direction: column;
}

.item-name{
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 12px;
}

.item-price{
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
}

.item-buynow-button{
  padding: 8px 12px 8px 12px;
  border-style: none;
  border-radius: 5px;
  background-color: #0098DA;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}

.item-buynow-button:hover{
  background-color: #0079B8;
}

