*
{
  font-family: "Roboto";
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container{
  display: flex;
  justify-content: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 50px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: auto;
}

.login-image{
  height: 700px;
}

.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-heading{
  font-size: 30px;
}

.login-inputs-box{
  display: flex;
  flex-direction: column;
}

.username-box{
  font-size: 20px;
  padding: 15px;
  width: 350px;
  margin-bottom: 30px;
}

.signin_img
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.signin_img img
{
    width: 750px;
}

.signin_form
{
    border: 1px solid #000;
    border-radius: 15px;
    width: 460px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.signup-button{
  background-color: white;
  color: #3b1a69;
  text-align: center;
  text-decoration: none;
  border-style: solid;
  font-family: Arial;
}
.signup-button:hover{
  background-color: #0098DA;
  color: white;
}

.signup-heading{
  font-weight: lighter;
}

.signup-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pages-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle-section{
  margin-left: 15px;
  margin-right: 15px;
}

.page-links,
.forgot-password{
  text-decoration: none;
}

.error
{
  color: red;
  font-size: 16px;
}