*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

h1
{
    color: #111111;
}

h2
{
    color: #111111;
}

p
{
    color: #444444;
}

.signin_title
{
    text-align: center;
    margin-top: 20px;
}

.signin_title h1
{
    margin-top: 40px;
    font-size: 40px;
}

.signin_title p
{
    font-size: 30px;
}

.signin_content
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.signin_img
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.signin_img img
{
    width: 750px;
}

.signin_form
{
    border: 1px solid #000;
    border-radius: 15px;
    width: 460px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.signin_form h2
{
    text-align: center;
    margin-top: 40px;
    font-size: 33px;
}

.signin_form form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.signin_form form input
{
    width: 385px;
    height: 50px;
    margin-top: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: large;
}

.signin_form form button
{
    width: 220px;
    height: 40px;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
    background-color: #0098DA;
    color: #fff;
    font-size: 20px;
}

.signin_form form button:hover
{
    background-color: #0079B8;
}

.signin_form p
{
    text-align: center;
    margin-top: 35px;
    font-size: 20px;
}

.error
{
    color: red;
    font-size: 16px;
}