
.main-content{
    margin-left: 30px;
}

.main-heading
{
    color: black;
    text-align: center;
    margin:auto;
}

.sub-heading{
    margin-bottom: 5px;
    font-weight: bold;
}
.paragraph{
    margin-left: 50px;
}